#!/usr/bin/env bash

# ~/.cfg dotfiles git repo
alias config="git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

# fasd
alias o='a -e open'

# git
alias gs="git status"

# virtualenv
alias avenv=". .venv/bin/activate 2>/dev/null || . venv/bin/activate"
alias mkvenv="uv venv -p python3.9 --seed .venv"
alias mkvenv37="uv venv -p python3.7 --seed .venv"
alias mkvenv38="uv venv -p python3.8 --seed .venv"
alias mkvenv39="uv venv -p python3.9 --seed .venv"
alias mkvenv310="uv venv -p python3.10 --seed .venv"

# navigation shortcuts
alias dl="cd ~/Downloads"

# spell checker
alias csp="codespell --skip='.git,venv,*/**/venv,target,*/**/target,build,*/**/build,dist,*/**/dist,*.pyc,*.wav,*.snips,*.crfsuite,*.fst,*.zip,*.gz,*.vanilla,*.so,*.bin,*.lock,*.jar,*.raw,*.png,*.jpg,*.jpeg,*.gif,*.DS_Store'"

# zsh
alias ohmyzsh="subl ~/.oh-my-zsh"
alias zshconfig="subl ~/.zshrc"

# print each PATH entry on a separate line
alias path='echo -e ${PATH//:/\\n}'

# show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# app shortcuts
alias subl="/Applications/Sublime\ Text.app/Contents/SharedSupport/bin/subl"
alias pycharm="/Applications/PyCharm\ CE.app/Contents/MacOS/pycharm"