alias avenv=". venv/bin/activate"
alias avenv2=". venv2/bin/activate"
alias avenv3=". venv3/bin/activate"
alias avenv35=". venv35/bin/activate"
alias avenv36=". venv36/bin/activate"
alias avenv37=". venv37/bin/activate"
alias avenv38=". venv38/bin/activate"
alias config="/usr/local/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME"
alias csp="codespell --skip='.git,venv,*/**/venv,target,*/**/target,build,*/**/build,dist,*/**/dist,*.pyc,*.wav,*.snips,*.crfsuite,*.fst,*.zip,*.gz,*.vanilla,*.so,*.bin,*.lock,*.jar,*.raw,*.png,*.jpg,*.jpeg,*.gif,*.DS_Store'"
alias gs="git status"
alias mkvenv="virtualenv -p python3.7 venv"
alias mkvenv2="virtualenv -p python2.7 venv2"
alias mkvenv3="virtualenv -p python3.6 venv3"
alias mkvenv35="virtualenv -p python3.5 venv35"
alias mkvenv36="virtualenv -p python3.6 venv36"
alias mkvenv37="virtualenv -p python3.7 venv37"
alias mkvenv38="virtualenv -p python3.8 venv38"
alias ohmyzsh="subl ~/.oh-my-zsh"
alias path="echo -e ${PATH//:/\\n}"
alias pycharm="/Applications/PyCharm\ CE.app/Contents/MacOS/pycharm"
alias showhiddenfiles="defaults write com.apple.finder AppleShowAllFiles"
alias subl="/Applications/Sublime Text.app/Contents/SharedSupport/bin/subl"
alias zshconfig="subl ~/.zshrc"
